:root {
  --abu: #1f3a52;
  --navbar: rgba(255, 255, 255, 0.6);
  --biru: #0b2997;
  --putih: #fff;
  --hitam: black;
  --b3: #878787;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: var(--putih);
}

/* navbar */
.sidebar {
  color: var(--hitam);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: var(--navbar);
  backdrop-filter: blur(6px);
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.sidebar.active {
  width: 18%;
}

.logo-content .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 70px;
  width: 100%;
  margin-left: 10px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.sidebar.active .logo-content .logo {
  opacity: 1;
  color: var(--biru);
}

.logoName {
  font-size: 18px;
  font-weight: 600;
}

#btn {
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 57px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.sidebar.active #btn {
  left: 85%;
}

.sidebar i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  color: var(--b3);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 13px;
  white-space: nowrap;
  margin: 10px 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.darkMode {
  color: var(--b3);
  display: flex;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
  margin: 0 10px 20px 10px;
}

.sidebar .link-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.sidebar.active .link-name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar ul li a:hover {
  color: var(--biru);
  background-color: #e7e9f5;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 80px;
  top: 0;
  display: block;
  transform: -45%, -50%;
  -webkit-transform: -45%, -50%;
  -moz-transform: -45%, -50%;
  -ms-transform: -45%, -50%;
  -o-transform: -45%, -50%;
  position: absolute;
  border-radius: 10px;
  background: var(--navbar);
  backdrop-filter: blur(6px);
  height: 35px;
  width: 130px;
  line-height: 35px;
  text-align: center;
  font-size: 13px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  color: var(--biru);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  top: 20%;
}

/* navbar end */

/* parallax */

.paralax {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome {
  width: 50%;
  height: auto;
  padding-left: 10%;
}

.satu {
  background-image: url(pertama.jpg);
  color: var(--putih);
  display: flex;
  justify-content: start;
  align-items: center;
}

.satu h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
}

.satu h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

.satu p {
  font-size: 22px;
}

.btnFollow {
  padding: 8px;
  position: relative;
  display: flex;
  width: 150px;
  height: auto;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
  color: var(--putih);
  border: 1px dashed var(--putih);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.btnFollow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  box-shadow: 9px 11px 15px -1px rgba(0, 0, 0, 0.4);
}

.btnFollow:hover .fa-instagram {
  display: block;
}

.btnFollow:hover p {
  display: none;
}

.btnFollow .fa-instagram {
  margin-right: 8px;
  display: none;
  font-size: 23px;
  background: linear-gradient(
    200deg,
    rgb(184, 0, 184),
    rgb(231, 18, 18),
    rgb(255, 157, 0)
  );
  padding: 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btnFollow p {
  font-size: 18px;
  font-weight: 500;
}

.dua {
  background-image: url(kedua.jpg);
}
/* parallax end */
